body {
  color: $gray;
  line-height: 1.6px;
  font-family:  $base-font-family;
  background: $white;
  font-size: .875rem;
  overflow-x: hidden;

  @include mq {
    font-size: 1.125rem;
  }
}


img {
  max-width: 100%;
}

h1, h2, p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  color: $secondarycolor;
  line-height: 1;
  font-size: 2rem;

  @include mq {
    font-size: 4.25rem;
  }
}

h2 {
  @include mq {
    font-size: 3rem;
  }
}

