header {
	background-color: $white;
	color: $dark-gray;
	padding-top: 5px;
	padding-bottom: 0;
}

.header-container {
	@include container;
	@supports (display: grid) {
		display: grid;
		grid-column-gap: 10px;
		grid-template-columns: 100px auto auto;
	  }
}

.header-logo {
	margin-top: 1em;
	@mobile {
		margin-top: 5em;
	}
}

.header-name {
	margin-top: 2.5em;
		h1 {
			font-family: $base-font-family;
			font-size: 2.5em;
			font-weight: 300;
			padding-top: 0;
			padding-bottom: 0;
			line-height: 0;
			text-decoration: none;
		}

		h4 {
			font-family: $base-font-family;
			font-size: 1.5em;
			font-weight: 300;
			padding-top: 0;
			padding-bottom: 0;
			line-height: 0;
			letter-spacing: .16em;
		}
}

.header-name a {
	color: $dark-gray;
	text-decoration: none;
}

.header-nav {
	margin-top: 1em;
	@media (max-width: #{$tablet - 1px}) {
		display: none !important;
	}
}

.header-nav ul {
	margin: 0;
	padding: 0;
}

.header-nav li {
	display: inline-block;
	margin-right: 0px;
	font-family: $heading-font-family;
	font-weight: 300;
	font-size: 17px;
}

.header-nav a {
	color: $dark-gray;
}