.home-hero-image {
  background-image: url(/images/header-images/nyc-05-2019.jpg);
  padding: 35px;
}

.home-hero-callout {
  width: 35%;
  margin-left: 50%;
  padding: 25px;
  @media  (max-width: 958px) {
    width: 85%;
    margin: 0 auto;
    padding: 10px;
}
  background-color: rgba(255,255,255,.75);
  h1 {
    font-size: 1.75rem;
    font-weight: 400;
  }
  p {
    font-size: 1.25rem;
    color: $secondarycolor;
  }
}

.home-hero-arrow {
	@include container;
    text-align: center;
    a {
        color:  $primarycolor;
    }
}

/* homepage posts styles */
.posts {
  @include container;
  margin-top: 15px;
  padding-bottom: 25px;
  }

  .posts> ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1.5rem;
  }

  .posts > ul > li {
    border: 1px solid #E2E2E2;
    //border-radius: .5rem;
  }

  .posts > ul > li > figure {
    max-height: 220px;
    overflow: hidden;
    //border-top-left-radius: .5rem;
    //border-top-right-radius: .5rem;
    position: relative;
  }

  .posts > ul > li > figure > img {
    width: 100%;
  }

  .posts > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    font-family:  $base-font-family;
  }

  .posts > ul > li > figure > figcaption > h3 {
    color: white;
    padding: .1rem.6rem;
    font-size: 1.4rem;
    font-weight: 400;
  }

  .posts > ul > li > p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: $secondarycolor;
    margin-bottom: .5em;
  }

  .posts h1 {
    font-size:  2rem;
    color: $secondarycolor;
    font-weight: 400;
  }

  /* homepage featured project styles */

.featured-project {
    @include container;
    margin-top: 15px;
    padding-bottom: 25px;
    h1 {
      font-size:  2rem;
      color: $secondarycolor;
      font-weight: 400;
    }
  }

  /* homepage featured photo styles */

.featured-photo {
    @include container;
    margin-top: 15px;
    padding-bottom: 25px;
    h1 {
      font-size:  2rem;
      color: $secondarycolor;
      font-weight: 400;
    }
 }